   .txt {
        color: #ffffff;
        width: 100%;
        float: left;
        font-size: 2em;
        display: none;
        font-weight: bold;
        padding-left: 20px;
    }

    #active {
    	float:left;
    	background-color: #012b4c;
    	width: 100%;
    	
    	min-height: 16em;
        line-height: 2.6em;
    }

    #bus {
        padding-top: 15px;
    }

    .veryTop {
        font-family: Arial;
        margin: 0;
        float: left;
        display: block;
        width: 100%;
    }

    #he {
        font-size: 2.4em;
        padding-left: 20px;
        display: block;
    }

    #bet, #str, #fas {
        display:none;
    }

    #wehave {
        padding-top:15px;
        font-size: 2.5em;
    }

    .endTop {
        float: left;
        width: 100%;
    }